@model Api.Models.InsurancePolicy
@{
    Layout = null;
}

<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
                @Html.LabelFor(model => model.PolicyId)
                @Model.PolicyId
                <br />              

                @Html.LabelFor(model => model.PolicyNumber)
                @Model.PolicyNumber
                <br /> 
                
                @Html.LabelFor(model => model.PolicyEffectiveDate)
                @Model.PolicyEffectiveDate
                <br /> 

                @Html.LabelFor(model => model.PolicyExpirationDate)
                @Model.PolicyExpirationDate
                <br /> 
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Primary Insured Person
            </div>
            <div class="panel-body">

                @Html.LabelFor(model => model.PrimaryInsuredPerson.FirstName)
                @Model.PrimaryInsuredPerson.FirstName
                <br />
                
                @Html.LabelFor(model => model.PrimaryInsuredPerson.LastName)
                @Model.PrimaryInsuredPerson.LastName
                <br />
                
                @Html.LabelFor(model => model.PrimaryInsuredPerson.Address)
                @Model.PrimaryInsuredPerson.Address
                <br />

                @Html.LabelFor(model => model.PrimaryInsuredPerson.City)
                @Model.PrimaryInsuredPerson.City
                <br />

                @Html.LabelFor(model => model.PrimaryInsuredPerson.ZipCode)
                @Model.PrimaryInsuredPerson.ZipCode
                <br />

                @Html.LabelFor(model => model.PrimaryInsuredPerson.State)
                @UserInterface.Code.Enum.GetEnumDescription(@Model.PrimaryInsuredPerson.State)
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Risk Home
            </div>
            <div class="panel-body">
                @Html.LabelFor(model => model.RiskHome.RiskConstruction)
                @UserInterface.Code.Enum.GetEnumDescription(@Model.RiskHome.RiskConstruction)
                <br />

                @Html.LabelFor(model => model.RiskHome.RiskYearBuilt)
                @Model.RiskHome.RiskYearBuilt
                <br />               

                @Html.LabelFor(model => model.RiskHome.Address)
                @Model.RiskHome.Address
                <br />

                @Html.LabelFor(model => model.RiskHome.City)
                @Model.RiskHome.City
                <br />

                @Html.LabelFor(model => model.RiskHome.ZipCode)
                @Model.RiskHome.ZipCode
                <br />

                @Html.LabelFor(model => model.RiskHome.State)
                @UserInterface.Code.Enum.GetEnumDescription(@Model.RiskHome.State)
            </div>
        </div>
    </div>
</div>
